/* PrimeIcons */
@import "primeicons/primeicons.css";

/* Global resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--p-font-family);
  background-color: var(--p-surface-ground);
  color: var(--p-text-color);
  min-height: 100vh;
}
